{% extends '__index__.html' %} {% block title %}日志{% endblock %} {% block beforehead %}
<script>
</script>
{% endblock %} {% block content %}
<div class="">
    {% for blog in blogs %}
    <article id="post-8326" class="post-8326 post type-post status-publish format-standard hentry category-ios category-iphone">
        <header class="entry-header">
            <h1 class="entry-title"><a href="/blog/{{ blog.id }}" rel="bookmark">{{ blog.name }}</a></h1> </header>
        <!-- <p class="uk-article-meta">发表于{{ blog.created_at|datetime }}</p>
 -->
        <div class="entry-content">
            <p>{{ blog.marksummary|safe }}</p>            
        </div>
        <footer class="entry-footer">
        <span class="tags-links ">
        <p><a href="/blog/{{ blog.id }}">阅读全文 <i class="uk-icon-angle-double-right"></i></a></p>
        </span>
        </footer>
    </article>
    {% endfor %} 
    <br>
    
    {{ pagination('/?page=', page) }}
</div>
{% endblock %}
